
.icon-ok:before { content: '\e800'; } /* '' */
.icon-step-arrow-2:before { content: '\e801'; } /* '' */
.icon-arrow-left:before { content: '\e802'; } /* '' */
.icon-arrow-right:before { content: '\e803'; } /* '' */
.icon-block:before { content: '\e804'; } /* '' */
.icon-block-base:before { content: '\e805'; } /* '' */
.icon-cart:before { content: '\e806'; } /* '' */
.icon-clock:before { content: '\e807'; } /* '' */
.icon-coupon:before { content: '\e808'; } /* '' */
.icon-dialog:before { content: '\e809'; } /* '' */
.icon-dialog-2:before { content: '\e80a'; } /* '' */
.icon-dialog-3:before { content: '\e80b'; } /* '' */
.icon-graduate:before { content: '\e80c'; } /* '' */
.icon-heart:before { content: '\e80d'; } /* '' */
.icon-loginout:before { content: '\e80e'; } /* '' */
.icon-mail:before { content: '\e80f'; } /* '' */
.icon-cancel:before { content: '\e810'; } /* '' */
.icon-order:before { content: '\e811'; } /* '' */
.icon-person:before { content: '\e812'; } /* '' */
.icon-projects:before { content: '\e813'; } /* '' */
.icon-rocket:before { content: '\e814'; } /* '' */
.icon-search:before { content: '\e815'; } /* '' */
.icon-step-check:before { content: '\e816'; } /* '' */
.icon-trash:before { content: '\e817'; } /* '' */
.icon-tri:before { content: '\e818'; } /* '' */
.icon-viewed:before { content: '\e819'; } /* '' */
.icon-step-arrow-1:before { content: '\e81a'; } /* '' */
.icon-video:before { content: '\e81b'; } /* '' */
.icon-share:before { content: '\e81c'; } /* '' */
.icon-lock:before { content: '\e81d'; } /* '' */
.icon-plus:before { content: '\e81e'; } /* '' */
.icon-address:before { content: '\e81f'; } /* '' */
.icon-calendar:before { content: '\e820'; } /* '' */
.icon-line:before { content: '\e821'; } /* '' */
.icon-fb:before { content: '\e822'; } /* '' */
.icon-twitter:before { content: '\e823'; } /* '' */
.icon-linkedin:before { content: '\e824'; } /* '' */
.icon-up-open-big:before { content: '\e825'; } /* '' */
.icon-block-2:before { content: '\e82c'; } /* '' */
.icon-more:before { content: '\e87b'; } /* '' */
