#course-lecturer{
    .lecturer-info{
        .border-bottom{
            border-bottom:1px solid rgba(255,255,255,0.5) !important;
        }
        .border-right{
            border-right:1px solid rgba(255,255,255,0.5);
        }
    }
    .lecturer{
        bottom: 0;
        right: 7.3%;
        width: 32.5%;
    }
    @media(max-width:991px){
        .lecturer{
            right: 2%;
        } 
    }
    @media(max-width:767px){
        .lecturer{
            right: 5%;
            width: 40%;
        } 
    }
}